@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Taviraj:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Обнуление стилей */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* Общие стили */

body {
  font-family: "CircularStd", sans-serif;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Главные блоки */

.homework {
  font-family: "Barlow", "CircularStd", serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  /* margin-bottom: 60px; */
  color: rgb(235, 189, 189);
  background-color: #ece1e1;
}

.name-one {
  font-weight: 700;
  font-size: 26px;
  /* text-align: center; */
  text-decoration: underline;
  text-transform: uppercase;
  /* max-width: 1200px;
  margin: 0 auto; */
  margin-bottom: 20px;
  color: rgb(113, 113, 202);
}

.name-two {
  font-weight: 700;
  font-size: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: rgb(113, 113, 202);
}

/* Верстка статьи */

.header {
  font-family: "Barlow", serif;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 15px 20px;
  margin-right: 20px;
  color: #ffffff;
  outline: 2px solid white;
  box-shadow: 0 8px 0 0 #000;
  border-radius: 20px;
  background-color: rgb(231, 163, 236);
}

.menu li:hover {
  box-shadow: 0 4px 0 0 #000;
}

.menu li:active {
  text-decoration: underline;
  color: #c03f3a;
  box-shadow: inset 0 0 15px 0 #000;
}

.link {
  background-color: green;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #000;
}

.link:hover {
  margin: 1px 0 -1px 0;
  box-shadow: 0 4px 0 0 #000;
}

.link:active {
  margin: 4px 0 -4px 0;
  box-shadow: inset 0 0 5px 0 #000;
}

.link-margin {
  margin-bottom: 40px;
}

.parent {
  padding: 15px;
  margin-bottom: 40px;
  border: 1px dashed red;
  cursor: pointer;
  background-color: #f75e05;
  border-radius: 30px;
}

.block {
  border: 1px dashed red;
  visibility: hidden;
  opacity: 0;
}

.parent:hover .block {
  visibility: visible;
  opacity: 1;
  color: red;
  background-color: #6df06d;
}

.block::after {
  content: "♥";
}

.big {
  font-size: 22px;
  color: white;
  margin-bottom: 40px;
}

.big-link {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ff3f3a;
}

.big-link:hover {
  box-shadow: 0px -5px 5px 10px rgb(121, 114, 114);
}

.big-link:active {
  color: black;
}

.big-one {
  display: none;
}

.big-one:target {
  display: block;
}

.big-link1 {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ff3f3a;
}

.big-link1:hover {
  box-shadow: 0px -5px 5px 10px rgb(121, 114, 114);
}

.big-link1:active {
  color: black;
}

.vest {
  max-width: 300px;
  margin-bottom: 40px;
  counter-reset: item;
}

.vest li {
  font-family: "Taviraj", serif;
  font-style: italic;
  font-weight: bold;
  color: #1e212c;
  border: 5px double rgb(100, 25, 25);
  border-radius: 10px;
  padding: 7px 12px;
  background-color: rgb(228, 211, 60);
}

.vest li::before {
  counter-increment: item;
  content: counter(item) ".";
  margin: 0 10px 0 0;
  color: red;
}

.vest li::after {
  content: "♥";
  display: inline-block;
  margin-left: 10px;
  color: red;
}

.vest li:not(:last-child) {
  /* всем, кроме последнего, отступ 12px  */
  margin-bottom: 20px;
}

.tab {
  line-height: 1.4;
  border: 2px dashed black;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: #424551;
}

.tab p:not(:last-child) {
  margin-bottom: 20px;
}

.tab p:first-of-type {
  padding: 15px;
  border-radius: 20px;
  background-color: #f75e05;
}

.tab p:first-of-type::before {
  content: "FIRST";
  padding: 10px;
  border-radius: 10px;
  background-color: #b5aae7;
}

.tab p::first-letter {
  color: red;
}

.tab p:last-of-type {
  padding: 15px;
  border-radius: 20px;
  background-color: #f75e05;
}

.tab p:last-of-type::before {
  content: "LAST";
  padding: 10px;
  border-radius: 10px;
  background-color: #b5aae7;
}

.tab p:nth-child(2) {
  padding: 15px;
  border-radius: 20px;
  background-color: #6df06d;
}

.tab p:nth-child(2)::before {
  content: "TWO";
  padding: 10px;
  border-radius: 10px;
  background-color: #b5aae7;
}

.tab p:nth-of-type(3n) {
  padding: 15px;
  border-radius: 20px;
  background-color: #e5f50d;
}

.tab p:nth-of-type(3n)::before {
  content: "THREE";
  padding: 10px;
  border-radius: 10px;
  background-color: #b5aae7;
}

/* Верстка макета OnlineCourse */

.homework1 {
  font-family: "Lato", sans-serif;
  max-width: 810px;
  margin: 0 auto;
}

.h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 26px;
}

.small {
  margin-bottom: 40px;
}

.date {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
  margin: 0 24px 0 0;
  padding: 0 0 0 24px;
  background: url("../img/Vector\ \(Stroke\).svg") 0 5px no-repeat;
}

.time {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
  padding: 0 0 0 24px;
  background: url("../img/Union.svg") 0 5px no-repeat;
}

.message {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

.work {
  max-width: 100%;
  margin-bottom: 60px;
}

.big {
  margin-bottom: 48px;
}

.test {
  margin-bottom: 39px;
}

.text2 {
  margin-bottom: 24px;
}

.test,
.test2,
.text2,
.text3 {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.paragraph {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #1e212c;
}

.text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 48px;
  padding-left: 58px;
  background-image: url("../img/braces.svg");
  background-repeat: no-repeat;
}

.text3 {
  margin-bottom: 40px;
}

.list {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  color: #424551;
}

.list li {
  margin-bottom: 4px;
  padding-left: 32px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

/* Верстка макета MatoaWebsiteRedesign */

/* Footer */

.footer {
  padding-bottom: 20px;
  text-align: center;
}

.link1 {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #000;
}

.link1:hover {
  margin: 1px 0 0 0;
  box-shadow: 0 4px 0 0 #000;
}

.link1:active {
  margin: 4px 0 0 0;
  box-shadow: inset 0 0 5px 0 #000;
}
